:root {
    --green: rgb(116, 187, 148);
    --darkbrown: rgb(133, 90, 33);
    --brown: #ead0a5;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: 'Apple Chancery', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    background-color: rgb(133, 90, 33);
    color: var(--green);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Georgia','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul link {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/ivy.jpg");
    background-size: cover;
    background-position: center;
}

body {
    background-color: var(--brown);
    font-family: 'Georgia', sans-serif;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    font-family: 'Georgia', sans-serif;
    justify: space-evenly;
}

.about-me {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.text-about-me {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.work {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.text-work {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.contact-me {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.phone {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    color: var(--green)
}

.email {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    color: var(--green)
}

.github {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    color: var(--green)
}

.linkedin {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
    color: var(--green)
}
