:root {
    --green: rgb(116, 187, 148);
    --darkbrown: rgb(133, 90, 33);
    --brown: #ead0a5;
  }

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 5 5 5;
}

.header {
    padding: 20px;
    font-family: 'Apple Chancery', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    background-color: rgb(133, 90, 33);
    color: var(--green);
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header a{
    padding-left: 30px;
    text-decoration: underline;
}

.header div {
    padding-top: 25px;
    margin-right: 20px;
    float: right;
    font-family: 'Georgia','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header div ul link {
    display: inline-block;
    margin-left: 25px;
}

.hero {
    height: 300px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/ivy.jpg");
    background-size: cover;
    background-position: center;
}

body {
    background-color: var(--brown);
    font-family: 'Georgia', sans-serif;
}

h2 {
    color: var(--darkbrown);
    text-decoration: underline;
}

.wrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
    font-family: 'Georgia', sans-serif;
    justify: space-evenly;
}

.about-me {
    grid-column: 1/2;
    grid-row: 1/2;
}

.text-about-me {
    grid-column: 2/6;
    grid-row: 1/2;
}

.work {
    grid-column: 1/2;
    grid-row: 2/5;
}

.student {
    grid-column: 2/6;
    grid-row: 2/3;
}

.horiseon {
    grid-column: 2/4;
    grid-row: 3/4;
}

.puppy {
    grid-column: 4/6;
    grid-row: 3/4;
}

.books {
    grid-column: 2/4;
    grid-row:4/5;
}

.photography {
    grid-column:4/6;
    grid-row:4/5;
}

.contact-me {
    grid-column: 1/2;
    grid-row: 5/6;
}

.phone {
    grid-column: 2/3;
    grid-row: 5/6;
    color: var(--green)
}

.email {
    grid-column: 3/4;
    grid-row: 5/6;
    color: var(--green)
}

.github {
    grid-column: 4/5;
    grid-row: 5/6;
    color: var(--green)
}

.linkedin {
    grid-column: 5/6;
    grid-row: 5/6;
    color: var(--green)
}

.project img:hover {
    opacity: .8;
  }

  #project {
    position: relative;
  }
  
  #caption {
    position: absolute;
    bottom: 75px;
    left: 15px;
    background: var(--darkbrown);
    color: var(--green);
    font-size: 30px;
  }

@media screen and (max-width: 768px) {
    .wrapper {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
        row-gap: 20px;
        
    .student {
        grid-column: 2/6;
        grid-row: 2/3;
    }
    
    .horiseon {
        grid-column: 2/6;
        grid-row: 3/4;
    }
    
    .puppy {
        grid-column: 2/6;
        grid-row: 4/5;
    }
    
    .books {
        grid-column: 2/6;
        grid-row:5/6;
    }
    
    .photography {
        grid-column:2/6;
        grid-row:6/7;
    }   

    .contact-me {
        grid-column: 1/2;
        grid-row: 7/8;
    }
    
    .phone {
        grid-column: 2/3;
        grid-row: 7/8;
        color: var(--green);
    }
    
    .email {
        grid-column: 3/4;
        grid-row: 7/8;
        color: var(--green)
    }
    
    .github {
        grid-column: 4/5;
        grid-row: 7/8;
        color: var(--green)
    }
    
    .linkedin {
        grid-column: 5/6;
        grid-row: 7/8;
        color: var(--green)
    }
  }

  